@import '../../../styles/modal.scss';
@import '../../../styles/variable.scss';

.modal {
  @include modal-overlay;
  display: none;

  &.show {
    display: flex;
  }

  .content {
    border-radius: $border-radius;
    overflow: hidden;
  }
}
