@import '../../../styles/variable.scss';
@import '../../../styles/common.scss';



.tabbar {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: $block-spacing-v4 0;
  width: 100%;
  height: $tabbar-height;
  padding: 0 $block-spacing-v4;
  box-sizing: border-box;

  .tabs {
    @include tabbar;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    .tab {
      flex: 1;
      height: 100%;
      line-height: 1;
      color: $font-placeholder-color;

      &.active {
        color: $accent-color;
      }

      .icon {
        @include tab-icon;
      }

      .text {
        @include tab-text;
      }
    }
  }

  .share {
    @include button-clear;
    @include tabbar;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $tabbar-height;
    height: $tabbar-height;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0 0 0 $block-spacing-v4;
    color: $font-placeholder-color;

    .icon {
      width: 100%;
      height: 100%;
      font-size: 48px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
