@import '../../../styles/variable.scss';

$maket-height: 200px;
$maket-width: 340px;

.market {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $content-background-color;
  padding: $block-spacing-v4 $page-spacing;

  .item {
    width: $maket-width;
    height: $maket-height;
    background-color: $content-background-color;
    border-radius: $border-radius;

    &:first-child {
      margin: 0 $block-spacing-v4 / 2 0 0;
    }

    &:last-child {
      margin: 0 0 0 $block-spacing-v4 / 2;
    }

    &.hotcake {
      background-image: url(@oss/hot-cake.jpeg);
      background-size: $maket-width $maket-height;
    }

    &.seckill {
      background-image: url(@oss/red-packet.jpeg);
      background-size: $maket-width $maket-height;
    }
  }
}
