@import '../../styles/variable.scss';
@import '../../styles/animation.scss';
@import '../../styles/common.scss';

.relogin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .icon {
    animation: spin 2s linear 0s infinite;
    font-size: $placeholder-icon-size;
    color: $placeholder-icon-color;

    &.icon-fail {
      animation: none;
      font-size: 300px;
    }
  }

  .tip {
    @include button-clear;
    margin: $block-spacing-v5 * 3 0 0 0;
    font-size: $btn-font-size;
    background: $main-color;
    color: $accent-color;
    padding: 0 $block-spacing-v5 * 2;
  }
}
