$model-index: 1000;

$border-radius: 8px;

$content-background-color: #fafafa;
$main-color: #222;
$overlay-color: rgba(#3d3d3d, .3);
$accent-color: #b79a57;
$divide-line-color: #f5f5f5;
$grey-background-color: #f5f5f5;

$page-spacing: 24px;

$block-spacing-v1: 12px;
$block-spacing-v2: 16px;
$block-spacing-v3: 20px;
$block-spacing-v4: 24px;
$block-spacing-v5: 28px;

$title-font-size: 28px;
$tab-font-size: 28px;
$content-font-size: 26px;
$btn-font-size: 26px;
$assist-font-size: 24px;
$tip-font-size: 22px;
