$model-index: 1000;

$border-radius: 8px;

$content-background-color: #f5f5f5;
$main-color: #2f3333;
$overlay-color: rgba(#3d3d3d, .3);
$accent-color: #e1b621;
$divide-line-color: #f5f5f5;
$grey-background-color: #f5f5f5;

$placeholder-icon-color: #e9e9e9;
$placeholder-icon-size: 200px;
$placeholder-text-color: #999;

$page-spacing: 24px;

$block-spacing-v1: 12px;
$block-spacing-v2: 16px;
$block-spacing-v3: 20px;
$block-spacing-v4: 24px;
$block-spacing-v5: 28px;

$title-font-size: 28px;
$tab-font-size: 28px;
$content-font-size: 26px;
$btn-font-size: 26px;
$assist-font-size: 24px;
$tip-font-size: 22px;

$btn-size-small: 66rpx;
$btn-size-default: 80rpx;
$btn-size-big: 94rpx;

$font-placeholder-color: #ccc;

$box-shadow: 2px -4px 30px 0 rgba(226,226,226,0.43);

$capsule-padding: 6PX;
$capsule-height: 32PX;
$capsule-width: 88PX;

$navigation-height: $capsule-padding * 2 + $capsule-height;
$navigation-font-size: 15PX;
$navigation-icon-font-size: 25PX;
$navigation-box-shadow: 0 2PX 2PX #222;
