@import '../../../styles/variable.scss';

$tool-icon-height: $navigation-height - 14PX;
$tool-icon-width: 30PX;

.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: $navigation-box-shadow;

  &.padding {
    padding: 0 0 0 5PX;
  }

  .tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .back,
    .home {
      width: $tool-icon-width;
      height: $tool-icon-height;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: $navigation-icon-font-size;
    }

    .home {
      font-size: $navigation-icon-font-size - 4PX;
    }
  }

  .title {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: $navigation-font-size;
    z-index: -1;
  }
}
