@import '../../styles/variable.scss';

.home {
  min-height: 100vh;
  background: url(https://xmpt-sit.oss-cn-shenzhen.aliyuncs.com/16e4df33c7c6b83e19091dd381ef92b2);

  .content {
    overflow: hidden;
  }
}
